[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dumpgenerator = "python ./dumpgenerator.py"
gui = "python ./gui.py"
launcher = "python ./launcher.py"
not-archived = "python ./not-archived.py"
uploader = "python ./uploader.py"
wikiadownloader = "python ./wikiadownloader.py"
wikipediadownloader = "python ./wikipediadownloader.py"
wikispaces = "python ./wikispaces.py"

[packages]
requests = "*"
argparse = "*"
internetarchive = "*"
lxml = "*"
mwclient = "*"
pymysql = "*"
pywikibot = "*"
urllib3 = "*"
wikitools3 = "*"

[dev-packages]
tox = "*"
nose = "*"
requests = "*"

[requires]
python_version = "3.9"
